@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

.card {
  border-top-left-radius: 50px;
  overflow: hidden;
}

.card .box {
  position: absolute;
  z-index: 900;
  inset: 0px;
  border-radius: 30px;
  background: transparent;
}

.card .box .icon {
  position: absolute;
  width: 150px;
  height: 100px;
  background-color: #f3f4fb;
  border-bottom-right-radius: 50px;
}

.card .box .icon::before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 30px;
  height: 30px;
  background: transparent;
  border-top-left-radius: 30px;
  box-shadow: -5px -5px 0 5px #f3f4fb;
}

.card .box .icon::after {
  content: "";
  position: absolute;
  top: 0px;
  right: -30px;
  width: 30px;
  height: 30px;
  background: transparent;
  border-top-left-radius: 30px;
  box-shadow: -5px -5px 0 5px #f3f4fb;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-img {
  animation: spin-slow 10s linear infinite;
}
